.icon i {
  color: #ffffff;
  margin: 0 0.625rem; /* equivale a 10px */
  transition: all 0.5s ease;
}

.social-icon.whatsapp,
.social-icon.github,
.social-icon.instagram,
.social-icon.linkedin {
  text-decoration: none;
  transition: all 0.5 ease;
}

.material-icons.nav {
  color: #00ffff;
}

.material-icons {
  color: white;
  transition: all 0.5s ease;
}

.material-icons.projetos {
  color: white;
  font-size: 3.125rem; /* equivale a 50px */
}
