a.navegacao {
  text-decoration: none;
}

.navegacao_rapida {
  position: fixed;
  bottom: 1%;
  left: 10px;
  z-index: 1000;
}

.nav-rap {
  background: linear-gradient(to bottom, #000000, #222222);
  border: 2px solid white;
  border-radius: 1.25rem; /* equivale a 20px */
  transition: all 0.5s ease;
  color: white;
}

#menu-opcoes {
  display: none;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  max-height: auto;
  padding: 1rem; /* equivale a 16px */
}

button {
  outline: none;
  border: none;
  background: none;
}

.info-tela {
  margin-top: 10px;
  text-align: center;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem; /* equivale a 8px */
}

::-webkit-scrollbar-track {
  background: black;
  border: 0.125rem solid white; /* equivale a 2px */
}

::-webkit-scrollbar-thumb {
  background: white;
  border: 0.125rem solid white; /* equivale a 2px */
  border-radius: 0.25rem; /* equivale a 4px */
}
