@media (min-width: 320px) and (max-width: 999px) {
  #caixa-tela {
    max-width: 40vw;
    padding: 0.625em; /* 10px */
    font-size: 1rem; /* 16px */
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0); /* sem centralização vertical */
  }
}
