@media (min-width: 320px) and (max-width: 999px) {
  #caixa-tela {
    width: 90vw;
    max-width: 80vw;
    padding: 0.625em; /* 10px */
    font-size: 1rem; /* 16px */
    border-radius: 0.875rem;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0); /* sem centralização vertical */
  }

  #caixa-tela pre {
    margin-right: 0;
    font-size: 1rem; /* 16px */
  }
}
