<body>
  <i class="material-icons projetos" aria-hidden="true">construction</i>
  <h1>Área do Dev</h1>
  <div class="estilo-texto">
    <p>Aqui você poderá ver informações técnicas do projeto:</p>
    <div class="cards-universal">
      <img
        src="assets/images/anuzita/anuzita-ti.png"
        alt="Anuzita usando roupa de TI: óculos, cracha, calça jeans, camiseta e
        segurando um notebook"
        class="anuzita"
      />
      <p>
        Uhuuu! Chegamos na minha parte favorita do site! O meu criador
        desenvolveu essa área originalmente para que ele podesse ter um controle
        sobre o números de linhas no projeto e o tamanho da tela do usuário para
        melhor ajuste em cada tela. Mas, ele achou interessante compartilhar
        essas informações com vocês, então aqui estão elas!
      </p>
      <div class="container-secao">
        <div class="cards-universal">
          <img
            src="assets/images/icons/fit_screen.png"
            alt="ícone de tela"
            class="icone-anuzita"
          />
          <h1>Dados sobre a sua tela:</h1>
          <p>
            Você sabia? Cada layout (ou tela, para os leigos), têm suas próprias
            configurações, como tamanho de fonte e espaçamento.
          </p>
          <p id="dimesoes-tela">Detectando tamanho...</p>
        </div>
        <div class="cards-universal">
          <img
            src="assets/images/icons/code.png"
            alt="ícone de tela"
            class="icone-anuzita"
          />
          <h1>Número de linhas nesse projeto:</h1>
          <p>
            O meu criador progamou um engenhoso script em Python (um pequeno
            programa para quem não sabe 😁). Ele faz a conta como mágica.
          </p>
          <p id="linhas" class="anuzita-container">
            <img
              src="assets/images/anuzita/desculpas.png"
              alt="Anuzita se desculpando com um balão de fala escrito Sorry"
              class="anuzita"
            />
            Em nome do dev, peço desculpas, mas não consegui contar as linhas do
            código... Peço que por favor, reinicie a página...
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
