<footer class="computacao-quantica">
  <div class="estilo-texto">
    <i class="material-icons">memory</i>
    <h1>Computação Quântica</h1>
    <p>
      A computação quântica representa o futuro da tecnologia — um verdadeiro
      marco para a nossa espécie.<br />Em breve, estarei compartilhando aqui as
      minhas contribuições para esse universo inovador.
    </p>
  </div>
  <div class="container-secao">
    <!-- Card Especial -->
    <div class="card-projeto">
      <img
        src="assets/images/logo_especial.png"
        alt="Logo Especial"
        class="logo"
      />
      <h1>Cartão reservado para o futuro</h1>
      <p>Este "card" está reservado para futuros projetos.</p>
    </div>
  </div>
</footer>
