<footer class="computacao-quantica">
  <div class="estilo-texto">
    <i class="material-icons projetos" aria-hidden="true">memory</i>
    <h1>Computação Quântica</h1>
    <p>
      A computação quântica representa o futuro da tecnologia — um verdadeiro
      marco para a nossa espécie.<br />Em breve, estarei compartilhando aqui as
      minhas contribuições para esse universo inovador.
    </p>
  </div>
  <div class="container-secao">
    <!-- Card Especial -->
    <div class="cards-universal">
      <img
        src="assets/images/diversas/logo_especial.png"
        alt="Triângulo de bordas brancas sobre fundo preto, com um ponto de 
        exclamação verde no centro — símbolo de alerta ou importância"
        class="logo"
      />
      <h1>Cartão reservado para o futuro</h1>
      <p>Este "card" está reservado para futuros projetos.</p>
    </div>
  </div>
</footer>
