<section>
  <img
    src="assets/images/content-imagens/eu_mesmo.jpg"
    alt="Rapaz de óculos, pele levemente bronzeada e cabelo escuro. 
    Veste camisa marrom clara por baixo de uma blusa preta."
    class="eu_mesmo"
  />
  <div class="estilo-texto">
    <h1>Sejam todos bem-vindos ao meu site</h1>
    <p>
      Meu nome é Luis Eduardo, sou um jovem entusiasta da informática e
      apaixonado por acompanhar as mais recentes tendências do setor
      tecnológico. Atulamente curso licenciatura em Computação na Universidade
      Tecnológica Federal do Paraná (UTFPR) e tenho o orgulho de ser um dos
      primeiros alunos do programa do Estado do Paraná, Talento Tech na minha
      cidade.
    </p>
    <p>
      Desenvolvi este site para compatilhar alguns dos meus projetos mais
      relevantes, além de expressar meu interesse por temas de ponta, como a
      computação quântica.
    </p>
    <p id="linhas">Carregando linhas de código...</p>
  </div>
  <img
    src="assets/images/content-imagens/acessibilidade.png"
    alt="Símbolo Universal de Acessibilidade: figura humana estilizada com 
    braços abertos dentro de um círculo."
    class="logo-acessibilidade"
  />
  <div class="estilo-texto">
    <h1>Acessibilidade Digital</h1>
    <p>
      A partir da Versão 1.8.5 - Acessibilidade (18/07/2025), o site recebeu
      novos recursos de acessibilidade que não foram incluídos na versão 1.4.3
      (30/06/2025). Muitos desses recursos estão em conformidade com as
      diretrizes da Organização das Nações Unidas (ONU) e com os princípios
      estabelecidos pela legislação brasileira.
    </p>
    <p>
      A acessibilidade está presente desde a base do site (back-end) até sua
      aparência visual (front-end). Nos cards abaixo, você encontrará mais
      detalhes sobre a Convenção sobre os Direitos das Pessoas com Deficiência,
      da ONU, e sobre a Lei Brasileira de Inclusão.
    </p>
  </div>
  <div class="container-secao">
    <div class="card-content">
      <img
        src="assets/images/content-imagens/onu.png"
        alt="Imagem da ONU azul sem fundo"
        class="logo-onu"
      />
      <h1>
        (Trecho do Artigo 9 - Convenção da ONU sobre os Direitos das Pessoas com
        Deficiência)
      </h1>
      <p>
        "1. A fim de possibilitar às pessoas com deficiência viver de forma
        independente e participar plenamente de todos os aspectos da vida, os
        Estados Partes tomarão as medidas apropriadas para assegurar às pessoas
        com deficiência o acesso, em igualdade de oportunidades com as demais
        pessoas, ao meio físico, ao transporte, à informação e comunicação,
        inclusive aos sistemas e tecnologias da informação e comunicação, bem
        como a outros serviços e instalações abertos ao público ou de uso
        público, tanto na zona urbana como na rural.[...]"
      </p>
      <p>
        Acesse o link abaixo para ver este e outros artigos relacionados à
        acessibilidade.
      </p>
      <div class="estilo-link">
        <a
          href="https://www.unicef.org/brazil/convencao-sobre-os-direitos-das-pessoas-com-deficiencia"
          >ONU Brasil</a
        >
      </div>
    </div>
    <div class="card-content">
      <img
        src="assets/images/content-imagens/brasil.png"
        alt="Bandeira do Brasil"
        class="logo-onu"
      />
      <h1>(Trecho da Lei n° 13.146)</h1>
      <p>
        "Art. 1º É instituída a Lei Brasileira de Inclusão da Pessoa com
        Deficiência (Estatuto da Pessoa com Deficiência), destinada a assegurar
        e a promover, em condições de igualdade, o exercício dos direitos e das
        liberdades fundamentais por pessoa com deficiência, visando à sua
        inclusão social e cidadania.[...]"
      </p>
      <p>Acesse o link abaixo para saber mais sobre a Lei n° 13.146</p>
      <div class="estilo-link">
        <a
          href="https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2015/lei/l13146.htm"
          >Portal do Planalto</a
        >
      </div>
    </div>
  </div>
</section>
