<section>
  <img src="assets/images/eu_mesmo.jpg" alt="imagem" class="eu_mesmo" />
  <h2>Sejam todos bem-vindos ao meu site</h2>
  <div class="content-up">
    <p>
      Meu nome é Luis Eduardo, sou um jovem entusiasta da informática e
      apaixonado<br />
      por acompanhar as mais recentes tendências do setor tecnológico.
      Atulamente,<br />
      curso licenciatura em Computação na Universidade Tecnológica Federal do
      Paraná<br />
      (UTFPR) e tenho o orgulho de ser um dos primeiros alunos do programa do
      Estado<br />
      do Paraná, Talento Tech na minha cidade.
    </p>
  </div>
  <div class="content-down">
    <p>
      Desenvolvi este site para compatilhar alguns dos meus projetos mais
      relevantes,<br />
      além de expressar meu interesse por temas de ponta, como a computação
      quântica.
    </p>
  </div>
</section>
