<footer>
  <h3>Alguns dos meus trabalhos</h3>
  <div class="container">
    <div class="projeto">
      <img src="assets/images/imagem_temporaria.png" alt="Logo Temporária" class="imagem_temporaria">
      <p>
        Esse é o meu primeiro software, desenvolvido para uso na empresa do meu padastro.<br /><br />
        <a href="https://github.com/AnuTech001/anu_list" target="_blank">Confira-o aqui!</a><br /><br />
        Tenho um carinho especial por esse projeto, pois foi o primeiro que desenvolvi para uso geral.<br />
        Ele foi criado em Python e tem como função gerar uma lista com todos os funcionários da empresa.
      </p>
    </div>
    
    <div class="projeto">
      <img src="assets/images/logo_apk.png" alt="Logo APK" class="logo_apk">
      <p>
        Esse outro projeto foi desenvolvido como um desafio do meu curso.<br /><br />
        <a href="https://github.com/AnuTech001/Planetario" target="_blank">Confira-o aqui!</a><br /><br />
        Ele foi desenvolvido usando o framework Flutter. Criado para listar planetas.
      </p>
    </div>
  </div>
</footer>
