<footer>
  <h3>Alguns dos meus trabalhos</h3>
  <p>
    Esse é o meu primeiro software, desenvolvido para uso na empresa do meu
    padastro.<br /><br />
    <a href="https://github.com/AnuTech001/anu_list" target="_blank"
      >Confira-o aqui!</a
    ><br /><br />
    Tenho um carinho especial por esse projeto, pois foi o primeiro que
    desenvolvi para uso geral<br />
    Ele foi criando em Python e tem como função gerar uma lista com todos os<br />
    funcionários da empresa.<br /><br />
    Esse outro projeto foi desenvolvido como um desafio do meu curso<br /><br />
    <a href=""
  </p>
</footer>
