<header>
  <div class="logo-titulo">
    <img
      src="assets/images/header-imagens/logo.png"
      alt="Logotipo da Anu Birdo Teknologio com fundo transparente. As letras ABT 
      aparecem centralizadas entre duas linhas verdes, e o nome completo está 
      escrito em branco."
      class="logo"
    />
  </div>
  <div class="icon">
    <a
      href="https://wa.me/5541984082151"
      class="social-icon whatsapp"
      title="Whatsapp"
      target="_blank"
    >
      <i class="fab fa-whatsapp fa-2x"></i>
    </a>
    <a
      href="https://github.com/AnuTech001"
      class="social-icon github"
      title="GitHub"
      target="_blank"
    >
      <i class="fab fa-github fa-2x"></i>
    </a>
    <a
      href="https://instagram.com/luis.jesus.pires
    "
      class="social-icon instagram"
      title="Instagram"
      target="_blank"
    >
      <i class="fab fa-instagram fa-2x"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/luis-eduardo-de-jesus-pires-256084352/"
      class="social-icon linkedin"
      title="Linkedin"
    >
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
    <a
      href="mailto:ruiniming10@gmail.com"
      class="social-icon email"
      title="e-Mail"
      target="_blank"
    >
      <i class="fas fa-envelope fa-2x"></i>
    </a>
  </div>
  <div class="container">
    <a href="#sites" class="navegacao" aria-label="Sites vinculados">
      <i class="material-icons" aria-hidden="true" title="Sites">language</i>
      <span class="texto-mobile">Sites</span>
    </a>
    <a href="#projetos" class="navegacao" aria-label="Meus projetos">
      <i class="material-icons" aria-hidden="true" title="Projetos"
        >design_services</i
      >
      <span class="texto-mobile">Projetos</span>
    </a>
    <a
      href="#computacao_quantica"
      class="navegacao"
      aria-label="Computação quântica"
    >
      <i class="material-icons" aria-hidden="true" title="Computação Quântica"
        >memory</i
      >
      <span class="texto-mobile">Quântica</span>
    </a>
    <a
      href="#manifesto"
      class="navegacao"
      aria-label="Manifesto tecnológico-humanista"
    >
      <i class="material-icons" aria-hidden="true" title="Manifesto"
        >lightbulb</i
      >
      <span class="texto-mobile">Manifesto</span>
    </a>
  </div>
</header>
