<header>
  <div class="logo-titulo">
    <img src="assets/images/logo.png" alt="Logo ABT" class="logo" />
  </div>
  <a
    href="https://wa.me/5541984082151"
    class="social-icon whatsapp"
    target="_blank"
  >
    <i class="fab fa-whatsapp fa-2x"></i>
  </a>
  <a
    href="https://github.com/AnuTech001"
    class="social-icon github"
    target="_blank"
  >
    <i class="fab fa-github fa-2x"></i>
  </a>
  <a
    href="https://instagram.com/luis.jesus.pires
    "
    class="social-icon instagram"
    target="_blank"
  >
    <i class="fab fa-instagram fa-2x"></i>
  </a>
  <a
    href="https://www.linkedin.com/in/luis-eduardo-de-jesus-pires-256084352/"
    class="social-icon linkedin"
  >
    <i class="fab fa-linkedin fa-2x"></i>
  </a>
  <a
    href="mailto:ruiniming10@gmail.com"
    class="social-icon email"
    target="_blank"
  >
    <i class="fas fa-envelope fa-2x"></i>
  </a>
  <!--   <button id="botao-opcoes">Mais informações</button>

  <div id="bloco-opecoes" class="opecoes" style="display: none">
    <p>Sites Vínculados</p>
    <p>Física Quântica</p>
    <p>Meu Manifesto</p>
  </div>

  <script>
    function toggleOpcoes() {
      const bloco = document.getElementById("bloco-opecoes");
      const botao = event.target;

      const mostrando = bloco.style.display === "block";
      bloco.style.display = mostrando ? "none" : "block";
      botao.textContent = mostrando ? "Mais informações" : "Menos informações";
    }
  </script> -->
</header>
