<header>
  <div class="logo-titulo">
    <img src="assets/images/logo.png" alt="Logo ABT" class="logo" />
  </div>
  <div class="icon">
    <a
      href="https://wa.me/5541984082151"
      class="social-icon whatsapp"
      target="_blank"
    >
      <i class="fab fa-whatsapp fa-2x"></i>
    </a>
    <a
      href="https://github.com/AnuTech001"
      class="social-icon github"
      target="_blank"
    >
      <i class="fab fa-github fa-2x"></i>
    </a>
    <a
      href="https://instagram.com/luis.jesus.pires
    "
      class="social-icon instagram"
      target="_blank"
    >
      <i class="fab fa-instagram fa-2x"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/luis-eduardo-de-jesus-pires-256084352/"
      class="social-icon linkedin"
    >
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
    <a
      href="mailto:ruiniming10@gmail.com"
      class="social-icon email"
      target="_blank"
    >
      <i class="fas fa-envelope fa-2x"></i>
    </a>
  </div>
  <div class="container">
    <a href="#sites" class="navegacao">
      <i class="material-icons">language</i>
    </a>
    <a href="#projetos" class="navegacao">
      <i class="material-icons">design_services</i>
    </a>
    <a href="#computacao_quantica" class="navegacao">
      <i class="material-icons">memory</i>
    </a>
    <a href="#manifesto" class="navegacao">
      <i class="material-icons">lightbulb</i>
    </a>
  </div>
</header>
