<footer class="manifesto">
  <div class="estilo-texto">
    <h1>Meu manifesto</h1>
    <p>
      Esta é a seção onde compartilho minha visão sobre o poder transformador da
      tecnologia e como ela pode mudar o mundo.
    </p>
  </div>
  <div class="container-secao">
    <div class="card-manifesto">
      <h1>Manifesto Tecnológico-Humanista</h1>
      <p>
        Somos abençoados por termos nascido nesta era. A nossa civilização, ao
        longo de aproximadamente 200 mil anos de existência, acumulou um legado
        de conhecimento e inovação conquistado por homens e mulheres ao longo da
        história. Tudo o que nossa espécie construiu converge para um único
        período — uma era em que o “impossível” se tornou possível.<br />
      </p>
      <p>
        A tecnologia não apenas moldou nosso estilo de vida; ela reescreveu
        nossa relação com o tempo, o espaço — e até com nós mesmos. Aquilo que
        antes era impraticável — como cirurgias complexas, a contemplação do
        cosmos, e a compreensão do nosso lugar neste vasto universo — agora é
        realidade. Vivemos em uma era em que podemos nos comunicar em tempo real
        com pessoas em continentes distintos, como se estivéssemos lado a lado.
        <br />
      </p>
      <p>
        Contudo, para tudo o que é bom, há também sua variante sombria. A mesma
        força que construímos pode, paradoxalmente, nos aniquilar. Inúmeras
        vezes, somos vítimas das próprias ambições humanas, moldando uma imagem
        distorcida daquilo que um dia foi bom. Ferramentas que deveriam servir à
        humanidade acabam sendo usadas para sua destruição — seja em guerras, na
        violação da privacidade, na amplificação das desigualdades sociais já
        existentes, na degradação do meio ambiente ou no desrespeito aos demais
        seres vivos. Acredito que isso seja, em essência, uma ofensa ao próprio
        Criador.<br />
      </p>
      <p>
        Por isso, finalizo com a seguinte frase: Façamos todos o nosso dever
        como espécie mais desenvolvida. Que a tecnologia nos sirva segundo seu
        verdadeiro propósito — como uma ponte que nos une cada vez mais; que ela
        seja um instrumento de cura, aprendizado, liberdade e conexão. Que a paz
        de Nosso Senhor Jesus Cristo nos acompanhe em nossa jornada.
      </p>
    </div>
  </div>
</footer>
