<footer class="navegacao_rapida">
  <div class="nav-rap">
    <!-- Botão do menu -->
    <button onclick="toggleMenu()" aria-label="Abrir opções">
      <i class="material-icons nav" aria-hidden="true" title="Abrir opções"
        >menu</i
      >
    </button>
    <!-- Menu de navegação -->
    <div class="container" id="menu-opcoes">
      <button
        onclick="document.getElementById('musica').play()"
        class="menu-opcoes"
        aria-label="Tocar música"
        title="Tocar música"
      >
        <i class="material-icons">🎵</i>
      </button>
      <a href="#header" class="navegacao" aria-label="Voltar ao início">
        <i class="material-icons" aria-hidden="true" title="Voltar ao início"
          >house</i
        >
      </a>
      <a href="#sites" class="navegacao" aria-label="Sites vinculados">
        <i class="material-icons" aria-hidden="true" title="Sites vinculados"
          >language</i
        >
      </a>
      <a href="#projetos" class="navegacao" aria-label="Meus projetos">
        <i class="material-icons" aria-hidden="true" title="Meus projetos"
          >design_services</i
        >
      </a>
      <a
        href="#computacao_quantica"
        class="navegacao"
        aria-label="Computação quântica"
      >
        <i class="material-icons" aria-hidden="true" title="Computação Quântica"
          >memory</i
        >
      </a>
      <a href="#area-dev" class="navegacao" aria-label="Area Dev">
        <i class="material-icons" aria-hidden="true" title="Area do Dev"
          >construction</i
        >
      </a>
      <a href="#manifesto" class="navegacao" aria-label="Meu manifesto">
        <i class="material-icons" aria-hidden="true" title="Meu manifesto"
          >lightbulb</i
        >
      </a>
      <a
        href="#anuzita"
        class="navegacao anuzita"
        aria-label="Professora Anuzita Explica"
      >
        <img
          src="assets/images/anuzita/professora-icone.png"
          alt=""
          class="icone-anuzita-e"
        />
      </a>
    </div>
  </div>
</footer>
