<footer class="projetos">
  <div class="estilo-texto">
    <i class="material-icons projetos">design_services</i>
    <h1>Meus Projetos</h1>
    <p>Aqui é o meu Hall da Fama, os meus projetos mais notávies estão aqui.</p>
  </div>
  <div class="container-secao">
    <!-- Anu List -->
    <div class="cards-universal">
      <img
        src="assets/images/diversas/imagem_temporaria.png"
        alt="Mensagem em português dizendo 'ERRO 404! Kkkkk, brincadeira. Esse 
        projeto ainda não tem uma imagem.' — indica que o projeto está em 
        desenvolvimento e ainda não possui visual definido."
        class="logo"
      />
      <h1>Anu List</h1>
      <p>
        Este é o meu primeiro software, desenvolvido para uso na empresa do meu
        padastro.<br /><br />
        Tenho um carinho especial por esse projeto, pois foi o primeiro que
        desenvolvi para uso geral. Ele foi criado em Python e tem como função
        gerar uma lista com todos os funcionários da empresa.
      </p>
      <div class="estilo-link">
        <a href="https://github.com/AnuTech001/anu_list" target="_blank"
          >Confira-o aqui!</a
        >
      </div>
    </div>
    <div class="cards-universal">
      <!-- Planetário -->
      <img
        src="assets/images/projetos-imagens/logo_apk.png"
        alt="Representação estilizada do planeta Terra com continentes em verde 
        brilhante sobre fundo preto — destaca a presença global e o contraste 
        entre terra e oceano."
        class="logo"
      />
      <h1>Planetário</h1>
      <p>
        Este projeto foi desenvolvido como parte de um desafio proposto no meu
        curso.<br /><br />
        Ele foi criado com framework Flutter e tem como objetivo listar planetas
        de forma interativa.
      </p>
      <div class="estilo-link">
        <a href="https://github.com/AnuTech001/Planetario" target="_blank"
          >Confira-o aqui!</a
        >
      </div>
    </div>
    <!-- Fulmŝlosilo -->
    <div class="cards-universal">
      <img
        src="assets/images/projetos-imagens/fulmslosilo.png"
        alt="Lupa com contorno ciano sobre fundo branco. Dentro da lente, há um 
        símbolo verde semelhante à letra E rotacionada 90 graus — representa 
        análise, observação ou busca por detalhes."
        class="logo"
      />
      <h1>Fulmŝlosilo</h1>
      <p>
        Fulmŝlosilo é um aplicativo desenvolvido em Python que automatiza a
        localização de arquivos no sistema operacional Windows. O nome vem do
        esperanto, significando "automação" — refletindo bem seu propósito:
        facilitar e agilizar tarefas repetitivas no computador. <br /><br />
        Ele ainda está em desenvolvido
      </p>
      <div class="estilo-link">
        <a href="https://github.com/AnuTech001/Automacao" target="_blank"
          >Confira-o aqui!</a
        >
      </div>
    </div>
    <!-- Card Especial -->
    <div class="cards-universal">
      <img
        src="assets/images/diversas/logo_especial.png"
        alt="Triângulo de bordas brancas sobre fundo preto, com um ponto de 
        exclamação verde no centro — símbolo de alerta ou importância"
        class="logo"
      />
      <h1>Cartão reservado para o futuro</h1>
      <p>Este "card" está reservado para futuros projetos.</p>
    </div>
  </div>
</footer>
