<footer class="rodape">
  <div class="versao">
    <div class="material-icons">update</div>
    <h1>Versão 1.8.5 - Notas de Atualização</h1>
    <ul class="notas-atualizacao">
      <li>
        Melhoria na interface e acréscimo de funções que permitem entender o que
        cada ícone faz apenas ao passar o mouse por cima — sem precisar clicar.
      </li>
      <li>Melhorias no cabeçalho da versão mobile.</li>
      <li>Melhoria na responsividade</li>
      <li>Melhoria nos cards</li>
      <li>Melhoria no comportamento nos ícones com o touch</li>
      <li>Melhoria na acessibilidade geral</li>
    </ul>
  </div>
</footer>
