<footer class="sites">
  <div class="estilo-texto">
    <i class="material-icons">language</i>
    <h1>Sites vinculados</h1>
    <p>
      Esta área é dedicada à exibição de sites que também foram desenvolvidos
      por mim.
    </p>
  </div>
  <div class="container-secao">
    <!-- Relógio -->
    <div class="card-site">
      <img
        src="assets/images/logo_site_relogio.png"
        alt="Logo Site Relógio"
        class="logo"
      />
      <h1>Relógio Digital</h1>
      <p>
        Este pequeno site foi o primeiro que desenvolvi. Ele é bem simples e
        nasceu como uma bricadeira durante a virada de ano de 2024 para 2025.<br /><br />
        Desenvolvido com base em tecnologias fundamentais da web: HTML, CSS,
        JavaScript e jQuery.
      </p>
      <div class="estilo-link">
        <a href="https://anutech001.github.io/relogio/">Confira-o aqui!</a>
      </div>
    </div>
    <!-- Jogo da Velha -->
    <div class="card-site">
      <img
        src="assets/images/logo_site_jogo_da_velha.png"
        alt="Logo Site Jogo da Velha"
        class="logo"
      />
      <h1>Jogo da Velha</h1>
      <p>
        Este também é um site de pequeno porte que desenvolvi como parte de um
        desafio do meu curso. Nele, é possível jogar o popular “Jogo da
        Velha”.<br /><br />
        Desenvolvido com a linguagem Dart e o framework Flutter
      </p>
      <div class="estilo-link">
        <a href="https://anutech001.github.io/relogio/app-jogo-da-velha/"
          >Confira-o aqui!</a
        >
      </div>
    </div>
    <!-- Card Especial -->
    <div class="card-site">
      <img
        src="assets/images/logo_especial.png"
        alt="Logo Especial"
        class="logo"
      />
      <h1>Cartão reservado para futuro</h1>
      <p>Este "card" está reservado para futuros sites.</p>
    </div>
  </div>
</footer>
