<footer class="sites">
  <div class="estilo-texto">
    <i class="material-icons projetos" aria-hidden="true">language</i>
    <h1>Sites vinculados</h1>
    <p>
      Esta área é dedicada à exibição de sites que também foram desenvolvidos
      por mim.
    </p>
  </div>
  <div class="container-secao">
    <!-- Relógio -->
    <div class="cards-universal">
      <img
        src="assets/images/sites-imagens/logo_site_relogio.png"
        alt="Relógio com fundo preto e ponteiros azul-claro marcando 3 horas e 
        30 minutos — representa o projeto de relógio digital desenvolvido por 
        Luis."
        class="logo"
      />
      <h1>Relógio Digital</h1>
      <p>
        Este pequeno site foi o primeiro que desenvolvi. Ele é bem simples e
        nasceu como uma brincadeira durante a virada de ano de 2024 para
        2025.<br /><br />
        Desenvolvido com base em tecnologias fundamentais da web: HTML, CSS,
        JavaScript e jQuery.
      </p>
      <div class="estilo-link">
        <a href="https://anutech001.github.io/relogio/">Confira-o aqui!</a>
      </div>
    </div>
    <!-- Jogo da Velha -->
    <div class="cards-universal">
      <img
        src="assets/images/sites-imagens/logo_site_jogo_da_velha.png"
        alt="Tabuleiro do jogo da velha com nove quadrados dispostos em uma 
        grade 3x3."
        class="logo"
      />
      <h1>Jogo da Velha</h1>
      <p>
        Este também é um site de pequeno porte que desenvolvi como parte de um
        desafio do meu curso. Nele, é possível jogar o popular “Jogo da
        Velha”.<br /><br />
        Desenvolvido com a linguagem Dart e o framework Flutter
      </p>
      <div class="estilo-link">
        <a href="https://anutech001.github.io/relogio/app-jogo-da-velha/"
          >Confira-o aqui!</a
        >
      </div>
    </div>
    <div class="cards-universal">
      <img
        src="assets/images/sites-imagens/meus-estudos.png"
        alt="Logo circular com fundo verde claro. No centro, há um livro aberto em
       amarelo com contorno verde. Acima do livro, um pássaro azul escuro está 
       em voo, com asas abertas."
        class="logo"
      />
      <h1>Minha Rotina</h1>
      <p>
        Desenvolvi este site para registrar minha rotina de estudos semanais e,
        futuramente, incluir conteúdos adicionais como curiosidades
        tecnológicas, dicas práticas e insights sobre minhas explorações
        pessoais.
      </p>
      <div class="estilo-link">
        <a href="https://anutech001.github.io/minha-rotina/">Confira-o aqui</a>
      </div>
    </div>
    <!-- Card Especial -->
    <div class="cards-universal">
      <img
        src="assets/images/diversas/logo_especial.png"
        alt="Triângulo de bordas brancas sobre fundo preto, com um ponto de 
        exclamação verde no centro — símbolo de alerta ou importância"
        class="logo"
      />
      <h1>Cartão reservado para futuro</h1>
      <p>Este "card" está reservado para futuros sites.</p>
    </div>
  </div>
</footer>
