<body>
  <!-- Caixa oculta inicialmente -->
  <span id="caixa-tela">
    <button onclick="fecharCaixa()">
      <i
        class="material-icons"
        aria-hidden="true"
        title="Fechar Caixa"
        style="color: red; vertical-align: middle"
        >close</i
      >
    </button>
    <p>
      Este local é destinado a exibir informações mais detalhadas sobre o telas,
      ou outras informações que não são exibidas diretamente na tela principal.
    </p>
    <pre id="linhas" style="font-family: Orbitron"></pre>
    <pre id="info-tela" style="font-family: Orbitron"></pre>
    <p>
      Nota do desenvolvedor: Eu só tinha um computador, um sonho e um desejo
      insaciável pelo conhecimento. O site que você vê agora é fruto de café,
      improviso e muita persistência. Se ele tá funcionando... agradeça à Deus e
      ao CSS.
    </p>
  </span>
</body>
