.logo {
  margin-top: 20px;
  height: 150px;
}

.container,
.container-secao {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 20px;
}

.estilo-link {
  padding: 20px 0;
}

.estilo-link a {
  color: #00ffff;
  border: 2px solid white;
  border-radius: 100px;
  padding: 20px 10px;
  transition: all 0.5s ease;
}

.versao {
  background: linear-gradient(to bottom, #222222, #000000);
  padding: 10px 10px;
}

.notas-atualizacao {
  color: #00ff00;
}
