footer {
  color: #00ff00;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  width: auto;
  margin: auto;
}

.logo_apk,
.imagem_temporaria {
  margin-top: 20px;
  height: 150px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 20px;
}

.projeto {
  flex: 1 1 300px;
  max-width: 500px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 100px;
  transition: border-radius 0.5s ease, border-color 0.5s ease;
}

.versao {
  background: linear-gradient(to bottom, #222222, #000000);
  padding: 10px;
}

h3 {
  color: #00ffff;
}
