header {
  background: linear-gradient(to bottom, #000000, #222222);
  color: #ffffff;
  padding: 10px;
  margin: 1px auto;
  width: auto;
}

.logo-titulo {
  align-items: center;
  gap: 16px;
}

.logo {
  height: 150px;
}

.social-icon {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
}

.github:hover i {
  color: #6e5494;
}

.whatsapp:hover i {
  color: #25d366;
}

.instagram:hover i {
  background: linear-gradient(45deg, #f09433, #dc2743, #cc2366, #bc1888);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.email:hover i {
  color: #d44638;
}

.linkedin:hover i {
  color: #0077b5;
}

.opecoes {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 20px;
}

.opecoes p {
  font-size: 14px;
  font-family: "Orbitron", sans-serif;
  transition: color 0.5s ease;
}

.opecoes p:hover {
  color: #00ffff;
}
