header {
  background: linear-gradient(to bottom, #000000, #222222);
  color: #ffffff;
  padding: 10px;
  margin: 1px auto;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  height: 150px;
}

.icon i {
  color: #ffffff;
  margin: 0 10px;
  transition: all 0.5s ease;
}

.social-icon.whatsapp,
.social-icon.github,
.social-icon.instagram,
.social-icon.linkedin {
  text-decoration: none;
}

.navegacao {
  color: #ffffff;
  margin-top: 0 10px;
  text-decoration: none;
  transition: all 0.5s ease;
}
