header {
  background: linear-gradient(to bottom, #000000, #222222);
  color: #ffffff;
  padding: 10px;
  margin: 1px auto;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  height: 150px;
}

.social-icon {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
}
