header {
  background: linear-gradient(to bottom, #000000, #222222);
  color: #ffffff;
  padding: 0.625rem; /* equivale a 10px */
  margin-top: 0.0625rem; /* equivale a 1px */
  width: 100%;
  box-sizing: border-box;
}

.container a i {
  display: flex;
  flex-direction: row; /* coloca os itens em linha */
  justify-content: center; /* centraliza os ícones */
  align-items: center; /* alinha verticalmente */
  gap: 1rem; /* espaço entre os ícones */
}
