.card-site:hover,
.card-projeto:hover,
.card-manifesto:hover {
  border-radius: 50px;
  border-color: #00ffff;
  background-color: rgba(0, 255, 255, 0.1);
}

.card:hover {
  border-color: #00ff00;
  background-color: rgba(0, 255, 255, 0.1);
}

.card:hover h1 {
  color: #00ffff;
}

.estilo-link a:hover {
  border-radius: 50px;
  color: white;
  background-color: rgba(0, 255, 255, 0.1);
}
