.icon i:hover {
  margin: 0 2.5rem; /* equivale a 40px */
}

.github:hover i {
  color: #6e5494;
}

.whatsapp:hover i {
  color: #25d366;
}

.instagram:hover i {
  background: linear-gradient(45deg, #f09433, #dc2743, #cc2366, #bc1888);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.email:hover i {
  color: #d44638;
}

.linkedin:hover i {
  color: #0077b5;
}

.material-icons:hover {
  color: #00ffff;
  margin: 0 2.5rem; /* equivale a 40px */
  transform: scale(1.5);
}

.material-icons.nav:hover {
  color: white;
  margin: 0 0.625rem; /* equivale a 10px */
  transform: none;
}

.nav-rap:hover {
  background-color: rgba(0, 255, 255, 0.5);
  border: 0.125rem solid white; /* equivale a 2px */
  opacity: 10;
}
