.icon i:hover {
  margin: 0 2.5rem; /* equivale a 40px */
}

.github:hover i {
  color: #6e5494;
}

.whatsapp:hover i {
  color: #25d366;
}

.instagram:hover i {
  background: linear-gradient(45deg, #f09433, #dc2743, #cc2366, #bc1888);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.email:hover i {
  color: #d44638;
}

.linkedin:hover i {
  color: #0077b5;
}

.material-icons:hover {
  color: #00ffff;
}

.material-icons.nav:hover {
  color: #00ffff;
}

.nav-rap:hover {
  background: linear-gradient(to bottom, #000000, #222222);
  border: 0.125rem solid #00ffff; /* equivale a 2px */
  border-radius: 3.125rem; /* equivale a 50px */
}
