html,
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 100%;
  text-align: center;
  background: black;
  font-family: "VT323", "Press Start 2P";
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.social-icon.whatsapp,
.social-icon.github,
.social-icon.instagram,
.social-icon.linkedin,
.social-icon.email {
  text-decoration: none;
  transition: all 0.5s ease;
}

.sites-link {
  text-decoration: none;
}

.whatsapp:hover i,
.github:hover i,
.instagram:hover i,
.linkedin:hover i,
.email:hover i {
  color: #1de9b6;
  transform: rotate(360deg);
}

header {
  border-bottom: 2px solid #00ff00;
}

footer {
  border-top: 2px solid #00ff00;
}

.anuzita-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  border: 1px solid #00ffff;
  margin-right: clamp(1rem, 2.5vw, 2.5rem);
  margin-left: clamp(1rem, 2.5vw, 2.5rem);
}

aside {
  border: white 2px solid;
  border-radius: 20px;
  width: fit-content;
  margin: clamp(1rem, 2.5vw, 2.5rem);
}

.area-tecnica {
  border: white 2px solid;
  margin: clamp(1rem, 2.5vw, 2.5rem);
}

.icon i {
  color: #ffffff;
  margin: 0 0.625rem; /* equivale a 10px */
  transition: all 0.5s ease;
}

.imagens {
  height: 200px;
  margin-top: clamp(1rem, 2.5vw, 2.5rem);
  border: 0.125rem solid white; /* equivale a 2px */
  border-radius: 100px;
}

.logo-titulo {
  margin: 1rem;
  width: clamp(100px, 20vw, 200px);
  height: auto;
  background: #1de9b6;
}

::-webkit-scrollbar {
  width: 0.5rem; /* equivale a 8px */
}

::-webkit-scrollbar-track {
  background: black;
  border: 0.125rem solid white; /* equivale a 2px */
}

::-webkit-scrollbar-thumb {
  background: white;
  border: 0.125rem solid white; /* equivale a 2px */
  border-radius: 0.25rem; /* equivale a 4px */
}

header a {
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin: 0;
}

a {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  color: #00ff00;
  margin: clamp(1.5rem, 3vw, 3rem);
}

.container a {
  border: white 2px solid;
  border-radius: 20px;
  padding: clamp(0.5rem, 2.5vw, 1.5rem);
}

strong {
  color: yellow;
}

p,
li {
  margin: clamp(1rem, 2.5vw, 2.5rem);
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  color: white;
  text-align: left;
  text-align: justify;
  hyphens: auto;
}

h1,
h2 {
  text-align: center;
  font-size: clamp(2rem, 3vw, 3rem);
  color: #00ffff;
  padding: clamp(0.5rem, 1.5vw, 1.5rem);
}

span {
  color: #1de9b6;
}

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 50%; /* equivale a 40px */
  flex-wrap: wrap;
  margin-top: 1.25rem; /* equivale a 20px */
  padding: 1.25rem; /* equivale a 20px */
}

.container a:active {
  transform: scale(0.95);
  background: rgba(0, 255, 0, 0.2);
}

header {
  padding: 0.625rem; /* equivale a 10px */
  width: 100%;
  box-sizing: border-box;
}
