/* ---------- Root ---------- */

:root {
  --tamanho-img: clamp(100px, 20vw, 200px);
  --anuzita-tamanho: clamp(75px, 10vw, 145px);
  --espaco-int: clamp(10px, 2vw, 20px);
  --espaco-ext: clamp(15px, 3vw, 30px);
  --tamanho-titulo: clamp(2rem, 3vw, 3rem);
  --tamanho-paragrafo: clamp(1.5rem, 2.5vw, 2rem);
  --borda-angulo: 20px;
  --sombra: 0 4px 6px;
  --subtitulo-cor: #00ffff;
  --espaco-gap: clamp(15px, 7vw, 25px);
}

/* ---------- Base ---------- */

* {
  color: white;
  font-size: 100%;
  scroll-behavior: smooth;
  text-align: justify;
  margin: 0;
  padding: 0;
  font-family: "VT323", "Press Start 2P";
}

body {
  background: black;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #00ff00;
  padding: var(--espaco-int);
  margin-bottom: var(--espaco-ext);
}

footer {
  border-top: 2px solid #00ff00;
}

/* ---------- Elementos de escrita ---------- */

a {
  font-size: var(--tamanho-paragrafo);
  color: #00ff00;
}

strong {
  color: yellow;
}

p {
  margin: var(--espaco-int);
  font-size: var(--tamanho-paragrafo);
  color: white;
}

h1,
h2 {
  text-align: center;
  font-size: var(--tamanho-titulo);
  color: var(--subtitulo-cor);
  margin: var(--espaco-ext);
}

span {
  color: #1de9b6;
  font-size: var(--tamanho-paragrafo);
}

li {
  margin: var(--espaco-ext);
  font-size: var(--tamanho-paragrafo);
  list-style-type: square;
}

hr {
  border: 1px solid #00ffff;
  margin-right: clamp(1rem, 2.5vw, 2.5rem);
  margin-left: clamp(1rem, 2.5vw, 2.5rem);
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  border: white 2px solid;
  margin: var(--espaco-ext);
  border-radius: 20px;
  padding: var(--espaco-int);
}

.icon i {
  color: #ffffff;
  margin: 0 0.625rem; /* equivale a 10px */
  transition: all 0.5s ease;
}

header a {
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin: 0;
}

.container-link a {
  display: inline-block;
  border: white 2px solid;
  border-radius: 20px;
  padding: clamp(0.5rem, 2.5vw, 1.5rem);
  margin: var(--espaco-ext);
}

.container-link a:active {
  transform: scale(0.95);
  background: rgba(0, 255, 0, 0.2);
}

.container-projetos a {
  margin-top: 100px;
}

/* ---------- Elementos visuais ---------- */

.social-icon.whatsapp,
.social-icon.github,
.social-icon.instagram,
.social-icon.linkedin,
.social-icon.email {
  text-decoration: none;
  transition: all 0.5s ease;
}

.sites-link {
  text-decoration: none;
}

.whatsapp:hover i,
.github:hover i,
.instagram:hover i,
.linkedin:hover i,
.email:hover i {
  color: #1de9b6;
  transform: rotate(360deg);
}

/* ---------- Containers ---------- */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.anuzita-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 50%; /* equivale a 40px */
  flex-wrap: wrap;
  margin: 1.25rem; /* equivale a 20px */
  padding: 1.25rem; /* equivale a 20px */
}

.container-img {
  display: flex;
  justify-content: center;
}

.projetos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* ---------- Imagens ---------- */

.imagens {
  height: var(--tamanho-img);
  margin: var(--espaco-ext);
  border: 0.125rem solid white; /* equivale a 2px */
  border-radius: 100px;
}

.logo-titulo {
  margin: var(--espaco-int);
  width: var(--tamanho-img);
  background: #1de9b6;
}

/* ---------- Scrollbar ---------- */

::-webkit-scrollbar {
  width: 0.5rem; /* equivale a 8px */
}

::-webkit-scrollbar-track {
  background: black;
  border: 0.125rem solid white; /* equivale a 2px */
}

::-webkit-scrollbar-thumb {
  background: white;
  border: 0.125rem solid white; /* equivale a 2px */
  border-radius: 0.25rem; /* equivale a 4px */
}

/* ---------- Anuzita Fala ---------- */

.anuzita {
  width: var(--anuzita-tamanho);
  height: auto;
  margin-top: var(--espaco-ext);
}

.acessibilidade {
  display: flex;
  justify-content: center;
}

.acessibilidade .material-icons-outlined {
  font-size: clamp(25px, 9vw, 35px);
}

.acessibilidade-audio {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: var(--espaco-gap);
}

.material-icons-outlined {
  transition: all 0.5s ease;
}

.material-icons-outlined:hover {
  color: white;
  border: white 2px solid;
  transform: rotate(360deg);
  transition: all 0.5s ease;
}

.btn-stop,
.btn-pause,
.btn-play {
  border: none;
}

.btn-stop .material-icons-outlined {
  color: red;
  box-shadow: var(--sombra);
}

.btn-pause .material-icons-outlined {
  color: #00ffff;
  box-shadow: var(--sombra);
}

.btn-play .material-icons-outlined {
  color: #00ff00;
  box-shadow: var(--sombra);
}

.btn-stop .material-icons-outlined {
  color: red;
  box-shadow: var(--sombra);
}

.btn-pause .material-icons-outlined {
  color: #00ffff;
  box-shadow: var(--sombra);
}

.btn-play .material-icons-outlined {
  color: #00ff00;
  box-shadow: var(--sombra);
}

button {
  font-size: var(--tamanho-paragrafo);
  margin: var(--espaco-ext);
  padding: var(--espaco-int);
  border: 2px solid white;
  border-radius: var(--borda-angulo);
  background: transparent;
  color: var(--subtitulo-cor);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  color: white;
  border: yellow 2px solid;
  background-color: black;
  transition: all 0.3s ease;
}

.btn-stop:hover,
.btn-pause:hover,
.btn-play:hover {
  border: none;
  background: transparent;
}

.botao {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: var(--borda-angulo);
  margin: var(--espaco-ext);
  width: clamp(250px, 100vw, 400px);
}

/* ---------- Medidas especiais ---------- */

@media (max-width: 655px) {
  body {
    line-height: 1.6;
    margin: 0;
    font-size: 1rem;
  }
  ul {
    flex-direction: column;
    align-items: center;
    margin: 0.625rem;
  }
  .rodape {
    flex-direction: column;
  }
  .acessibilidade .material-icons-outlined {
    font-size: 2rem;
  }
  .container {
    flex-direction: column;
  }
  .projetos {
    flex-direction: column;
    justify-content: left;
  }
}
