@media (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 28px;
  }

  p {
    font-size: 15px;
  }

  .container,
  .container-secao {
    padding: 0 15px;
  }

  .versao {
    padding: 8px;
  }

  .versao h1 {
    font-size: 18px;
  }

  .versao p {
    font-size: 13px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 32px;
  }

  p {
    font-size: 16px;
  }

  .container,
  .container-secao {
    padding: 0 20px;
  }

  .versao {
    padding: 10px;
  }

  .versao h1 {
    font-size: 20px;
  }

  .versao p {
    font-size: 15px;
  }
}
