@media (min-width: 320px) and (max-width: 430px) {
  h1 {
    font-size: 35px;
  }

  p {
    font-size: 20px;
  }

  .container,
  .container-secao {
    padding: 0 20px;
  }

  .versao {
    padding: 10px;
  }

  .versao h1 {
    font-size: 20px;
  }

  .versao p {
    font-size: 15px;
  }

}
