<head>
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="assets/css/layout/desktop.css" />
  <link rel="stylesheet" href="assets/css/layout/mobile.css" />
  <link rel="stylesheet" href="assets/css/layout/tablet.css" />
  <link rel="stylesheet" href="assets/css/header.css" />
  <link rel="stylesheet" href="assets/css/content.css" />
  <link rel="stylesheet" href="assets/css/footer.css" />
  <link rel="stylesheet" href="assets/css/cards.css" />
  <link rel="stylesheet" href="assets/animations/header_animatios.css" />
  <link rel="stylesheet" href="assets/animations/footer_animations.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</head>
