<!-- Aqui estão os links da pasta css e suas sub-pstas -->
<head>
  <!-- Base styles -->
  <link rel="stylesheet" href="assets/css/base/style.css" />
  <link rel="stylesheet" href="assets/css/base/tipografia.css" />
  <link rel="stylesheet" href="assets/css/base/icons.css" />
  <link rel="stylesheet" href="assets/css/base/scrollbar.css" />
  <link rel="stylesheet" href="assets/css/base/images.css" />

  <!-- Layout styles (responsive) -->
  <link
    rel="stylesheet"
    href="assets/css/layout/grid/320-499.css"
    media="(min-width: 320px) and (max-width: 499px)"
  />
  <link
    rel="stylesheet"
    href="assets/css/layout/grid/500-699.css"
    media="(min-width: 500px) and (max-width: 699px)"
  />
  <link
    rel="stylesheet"
    href="assets/css/layout/grid/700-899.css"
    media="(min-width: 700px) and (max-width: 899px)"
  />
  <link
    rel="stylesheet"
    href="assets/css/layout/grid/900-1099.css"
    media="(min-width: 900px) and (max-width: 1099px)"
  />
  <link
    rel="stylesheet"
    href="assets/css/layout/grid/1100-1299.css"
    media="(min-width: 1100px) and (max-width: 1299px)"
  />
  <link
    rel="stylesheet"
    href="assets/css/layout/grid/1300-1499.css"
    media="(min-width: 1300px) and (max-width: 1499px)"
  />
  <link
    rel="stylesheet"
    href="assets/css/layout/grid/1500-1699.css"
    media="(min-width: 1500px) and (max-width: 1699px)"
  />
  <link
    rel="stylesheet"
    href="assets/css/layout/grid/1700-1899.css"
    media="(min-width: 1700px) and (max-width: 1899px)"
  />
  <link
    rel="stylesheet"
    href="assets/css/layout/grid/1900-2099.css"
    media="(min-width: 1900px) and (max-width: 2099px)"
  />
  <link
    rel="stylesheet"
    href="assets/css/layout/grid/2100-mais.css"
    media="(min-width: 2100px)"
  />
  <link rel="stylesheet" href="assets/css/layout/geral.css" />

  <!-- Component styles -->
  <link rel="stylesheet" href="assets/css/components/header.css" />
  <link rel="stylesheet" href="assets/css/components/footer.css" />

  <!-- Card styles -->
  <link rel="stylesheet" href="assets/css/cards/style-cards.css" />

  <!-- Animation styles -->
  <link rel="stylesheet" href="assets/animations/header_animatios.css" />
  <link rel="stylesheet" href="assets/animations/footer_animations.css" />

  <!-- External libraries -->
  <link
    href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</head>
